<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">cljang</h3>
</div>

<div class="jumbotron">
  <h1 id="welcome-message">Put something here!</h1>
  <p class="lead">
  <img src="img/null.png"><br>
    Otherwise this app is a bit pointless
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Yay!</a></p>
</div>

<div class="row marketing">
  <p>
    You now have the following nice things:
    <ul>
      <li ng-repeat="item in niceThings">{{item}}</li>
    </ul>
  </p>
</div>

<div class="footer">
  <p>♥ from 00null</p>
</div>
