<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>cljang</title>
      {% style "vendor/sass-bootstrap/dist/css/bootstrap.min.css" type="text/css" %}
      {% style "/css/main.css" %}
    </head>

    <body ng-app="cljangApp">

      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/#/">cljang</a>
          </div>
          <div class="navbar-collapse collapse" id="main-menu">
            <div class="btn-group pull-right">
              <ul class="nav navbar-nav">
                <li><a ng-href="/#/">Home</a></li>
                <li class="divider"></li>
                <li><a ng-href="/#/about">About</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="main-content" class="container" ng-view=""></div>

      {% script "/vendor/angular/angular.min.js" %}
      {% script "/vendor/angular-resource/angular-resource.min.js" %}
      {% script "/vendor/angular-cookies/angular-cookies.min.js" %}
      {% script "/vendor/angular-sanitize/angular-sanitize.min.js" %}
      {% script "/vendor/angular-route/angular-route.min.js" %}
      {% script "/vendor/angular-camera/dist/angular-camera.min.js" %}
      {% script "/vendor/jquery/jquery.min.js" %}
      {% script "/vendor/lodash/dist/lodash.min.js" %}
      {% script "/vendor/sass-bootstrap/dist/js/bootstrap.min.js" %}

      {% script "/js/app.js" %}

      <script type="text/javascript">
          var context = "{{servlet-context}}";
      </script>
      <div class="container">
        <div class="footer">
          <p>♥ from <a href="http://00null.net">00null</a></p>
        </div>
      </div>
    </body>
    </body>
</html>

